@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url('https://fonts.googleapis.com/css?family=Barlow');
@import url('https://fonts.googleapis.com/css?family=Anton');
/*MOBILE DEVICES*/
/*@media screen and (max-width:767px){
    }
/*DESKTOP SCREEN*/
@media screen and (min-width:767px) and (max-width:10244px){
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}
a { 
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensures the div takes up the full height of the viewport */
}
.header_flex {
    display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
}
.nav {
    display: flex;
    align-items: center;
  }
.header {
    flex-wrap: wrap;
    position: relative;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    background-color: #9EB384;
}
.logoimage{
    position: absolute;
    left: 30px;
    max-width: 100px;
    margin-right: 5px;
}

/*For Soundssssss*/
.toggle-cont {
    position: absolute;
    top: 4px;
    right: 50px;
    width: 50px;
    height: 25px;
    border-radius: 9999px;
}

.toggle-cont .toggle-input {
    display: none;
}

.toggle-cont .toggle-label {
    cursor: pointer;
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 6px;
    width: 100%;
    height: 100%;
    background: #272727;
    border-radius: 9999px;
    box-sizing: content-box;
    box-shadow: 0px 0px 16px -8px #ff0303;
}

.toggle-cont .toggle-label .cont-label-play {
    position: relative;
    width: 25px;
    aspect-ratio: 1 / 1;
    background: #5e5e5e;
    border-radius: 9999px;
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.toggle-cont .toggle-input:checked + .toggle-label .cont-label-play {
    background: #ffffff;
    transform: translateX(25px);
}

.toggle-cont .toggle-label .label-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 12px;
    aspect-ratio: 1 / 1;
    background: #ffffff;
    border-radius: 4px;
    clip-path: polygon(25% 0, 75% 50%, 25% 100%, 25% 51%);
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

.toggle-cont .toggle-label .label-play.active {
    width: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
/* Added comments to explain the flex layout */
.nav{
    display: flex;
    align-items: center;
}
.nav button{
    margin-left: auto;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.buttonopen {
    padding: 2px 8px;
    border: 2px solid #885454;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: #C4E8C2;
    background: #000;
    position: absolute;
    top: 20px;
    right: 110px;
}

.buttonopen:hover {
    background: #fff;
    color: #9b6c6c;
}

.buttonopen:active {
    transform: scale(0.95);
}

.container{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url("/star.jpg");
    background-size: cover;
    background-position: center;
}

.home::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-out;
}

.home.show::before {
    opacity: 1;
    pointer-events: auto;
}

.form_container {
    position: absolute;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.home.show .form_container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.signup_form {
    display: none;
}

.form_container.active .signup_form {
    display: block;
}

.form_container.active .login_form {
    display: none;
}

.form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 22px;
    color: #000;
    opacity: 0.5;
    cursor: pointer;
}

.form_container h2 {
    font-size: 22px;
    color: #000;
    text-align: center;
}

.input_box {
    position: relative;
    width: 85%;
    margin-top: 30px;
    height: 40px;
}

.input_box input {
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1.4px solid #aaaaaa;
    outline: none;
    padding: 0 30px;
    transition: all 0.3s ease;
    color: #333;
}

.input_box input:focus {
    border-color: #95171b;
}

.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input_box i.email,
.input_box i.password {
    left: 0;
    color: #4036d0;
}

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
    color: #271141;
}

.input_box i.pw_hide {
    right: -40px;
    font-size: 18px;
    cursor: pointer;
}

.option_field {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_container a {
    color: #e91e63;
    font-size: 12px;
}

.form_container a:hover {
    text-decoration: underline;
}

.checkbox {
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
    font-size: 12px;
    cursor: pointer;
}

.checkbox input {
    accent-color: #3a6aac;
}

.checkbox label {
    font-size: 12px;
    user-select: none;
    color: #000;
    cursor: pointer;
}

.form_container .button {
    background: #C4E8C2;
    margin-top: 30px;
    height: 50px;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 10px;
}

.login_signup {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #000;
}
.WECARE{
    position: absolute;
    padding: 3px;
    width: 238px;
    top: 25px;
    color: #AECFA4;
    background-color:#13201f;
    border:#13201f;
}
.positionheader{
    position: absolute;
    left: 280px;
    top: 17px;
    padding: 10px;
    
}
.nav img{
    max-height: 140%;
    max-width: 100%;
    position: absolute;
    padding: 0%;
    top: -20%;
    left: 4.7%;
    color: #361717;
}
.nav h1{
    padding: 2%;
    top: -15%;
    left: 8%;
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Home Page Buttons*/
/* CSS */
.container .fa-lock{
   position: absolute;
   top: 65px;
   font-size: 25px;
}
.container button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 8px auto;
    width: 250px;
    height: 250px;
    background: rgba(78, 84, 136, 0.2);
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: .5s box-shadow;
    color: #ffffff8e;
}
.container button:nth-child(4){
    background: rgba(73, 214, 92, 0.4);
    color: #000;
}
.container button:nth-child(5){
    background: rgba(73, 214, 92, 0.4);
    color: #000;
}
.container button:nth-child(6){
    background: rgba(73, 214, 92, 0.4);
    color: #000;
}
.container button:hover {
    box-shadow: 0 10px 35px 5px rgba(34, 42, 84, 0.911);
}
/*For pop-up on disabled features*/
        .popup{
            width: 400px;
            background: #fff;
            border-radius: 6px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.1);
            text-align: center;
            padding: 0 30px 30px;
            color: #333;
            visibility: hidden;
            transition: transform 0.4s, top 0.4s;
        }
        .open-popup{
            visibility: visible;
            top: 50%;
            transform: translate(-50%, -50%) scale(1);
        }
        .popup img{
            width: 100px;
            margin-top: -50px;
            border-radius: 50%;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }
        .popup h2{
            font-size: 38px;
            font-weight: 100;
            margin: 30px 0 10px;
        
        }
        .popup button{
            height: 40px;
            width: 100%;
            margin-top: 30px;
            padding: 10px 0;
            background: #6fd649;
            color: #fff;
            border: 0;
            outline: none;
            font-size: 15px;
            border-radius: 4px;
            cursor: pointer;
            box-shadow: 0 5px 5px rgba(0,0,0,0.2);
        }
        


  /* Styling for the pop-up */
/* Styling for the pop-up */
.popupG {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 5px solid #684a25;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 9999;
    max-width: 400px; /* Adjust the width as needed */
}
.popupG h2 {
    margin-top: 3px;
}

.popupG label {
    display: block;
    margin-bottom: 5px;
}
.popupG input[type="text"],
.popupG input[type="email"],
.popupG textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.popupG textarea {
    resize: vertical; /* Allow vertical resizing */
}

.popupG button {
    background-color: #684a25;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.popupG button:hover {
    background-color: #0056b3;
}

.popupG .closeG {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
/*For infromation*/
.popupIn{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #244069;
    padding: 30px;
    border: 5px solid #684a25;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 9999;
    max-width: 400px; /* Adjust the width as needed */
}
.popupIn h1{
    top: 2%;
    left: 29%;
    position: absolute;
    color: #ffffff;
}
.space{
    color: #244069;
}
.long{
    color: #ffffff;
    text-align: center;
    text-align: justify;
}
#closePopupIn{
    border: blue;
}
/*For infromation*/
.nav_item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    right:45%;
    font-size: 14px;
    font-weight: 700;
    color: #020101;
    transition: all 0.3s ease;
}
.popupIn_Dev{
    display: none;
    position:fixed;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #244069;
    padding: 30px;
    border: 5px solid #684a25;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 9999;
    max-height: 740px;
    max-width: 740px; /* Adjust the width as needed */
}
.goBack{
    color: #000000;
    size: 30px;
}
.imageInfo{
    max-width: 300px;
    max-height: 300px;
}
.imageInfost{
    max-width: 319px;
    max-height: 319px;
}
.imageInfo, .imageInfost{
    background-color: #244069;
    padding: 30px;
    border: 5px solid #684a25;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/*Image infromation for the system UI*/
/*footer*/
.footer{
    position: auto;
    width: 100%;
    height: 50vh;
    border: 5px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.nav_items{
    background-color: #435334;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.nav_items li {
    list-style: none;
    margin: 0 15px;
  }
 .nav_items li a {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }
  
  .nav_items li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #20afb4;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  .nav_items li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #20afb4;
  }
  
  .nav_items li a:hover {
    color: #20afb4;
    box-shadow: 0 0 5px #20afb4;
    text-shadow: 0 0 5px #20afb4;
  }
  .contactnumber{
    color: white;
}
/*end of footer*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
#bt_index{
    position: auto;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#FAF1E4, #C7B7A3) ;
    border: 5px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.classWECARE{
    color: #1e413d;
    position: absolute;
    top: 360px;
    left: 950px;
}
#bt_index .paragraph{
    font-family: Barlow, sans-serif;
    text-align: left;
    font-size: 24px;
    letter-spacing: 3px;
    word-spacing: 4px;
    color: rgb(0, 0, 0);
    background-color: rgba(230, 230, 230, 0);
    position: absolute;
    top: 500px;
    left: 1000px;
}
.sample_img, p{
    flex: 1 0 130px;
    
}
.sample_img{
    margin: 10px;
    padding: 0;
    border-radius: 50%;
    height: 700px;
    border: 8px solid #b3a398dc;
}
.BTexercise  h1 span, .Calming_Sound h1 span, .Daily_Motivational h1 span, .Yoga_Exercise h1 span, .Flow_Game h1 span, .Mood_Tracker h1 span{
    color: #46A084;
    font-family: Anton, sans-serif;
}

/*Bt Exercises*/
.BTexercise{
    display: flex;
    flex-wrap: wrap;   
}
.BTexercise-txt{
    margin: 12px;
    padding: 8px;
    position: relative;
    width: 40%;
    height: 70%;
    overflow: auto;  
}
.BT-title-question{
    font-size: 85px;
    padding: 4px;
    font-family: Anton, sans-serif;
}
.BT-benefit-question{
    font-size: 30px;
    padding: 4px;
    font-family: 'Poppins', sans-serif;
}
.BT-title-answer{
    color: rgba(0, 0, 0, 0.644);
    font-size: 24px;
    margin: 8px;
    font-family: 'Poppins', sans-serif;
}
.sample_img1{
    margin: 10px;
    padding: 0;
    border-radius: 49% 51% 42% 58% / 82% 7% 93% 18%   ;
    width: 100px;
    border: 8px solid #b3a398dc;
    flex: 1 0 130px;
    
}
/*calming sounds*/
.Calming_Sound{
    display: flex;
    flex-wrap: wrap;  
    
}
.Calming_Sound-txt{
    margin: 12px;
    padding: 8px;
    position: relative;
    width: 40%;
    height: 70%;
    overflow: auto;  
    order: 2;
}
.Calming-title-question{
    font-size: 85px;
    padding: 4px;
    font-family: Anton, sans-serif;
}
.Calming-benefit-question{
    font-size: 30px;
    padding: 4px;
    font-family: 'Poppins', sans-serif;
}
.Calming-title-answer{
    color: rgba(0, 0, 0, 0.644);
    font-size: 24px;
    margin: 8px;
    font-family: 'Poppins', sans-serif;
}
.sample_img2{
    margin: 10px;
    padding: 0;
    border-radius: 65% 35% 35% 65% / 47% 53% 47% 53% ;
    width: 100px;
    border: 8px solid #b3a398dc;
    flex: 1 0 130px;
    order: 1;
}
/*Daily Motivational*/
.Daily_Motivational{
    display: flex;
    flex-wrap: wrap;  
    
}
.Daily_Motivational-txt{
    
    margin: 12px;
    padding: 8px;
    position: relative;
    width: 40%;
    height: 70%;
    overflow: auto;  
    order: 1;
}
.DM-title-question{
    font-size: 80px;
    padding: 4px;
    font-family: Anton, sans-serif;
}
.DM-benefit-question{
    font-size: 30px;
    padding: 4px;
    font-family: 'Poppins', sans-serif;
}
.DM-title-answer{
    color: rgba(0, 0, 0, 0.644);
    font-size: 24px;
    margin: 8px;
    font-family: 'Poppins', sans-serif;
}
.sample_img3{
    margin: 10px;
    padding: 0;
    border-radius: 20% 80% 70% 30% / 51% 64% 36% 49%;
    width: 100px;
    border: 8px solid #b3a398dc;
    flex: 1 0 130px;
    order: 2;
}
/*Yoga Exercise*/
.Yoga_Exercise{
    display: flex;
    flex-wrap: wrap;  
    
}
.Yoga_Exercise-txt{
    
    margin: 12px;
    padding: 8px;
    position: relative;
    width: 40%;
    height: 70%;
    overflow: auto;  
    order: 2;
}
.YE-title-question{
    font-size: 85px;
    padding: 4px;
    font-family: Anton, sans-serif;
}
.YE-benefit-question{
    font-size: 30px;
    padding: 4px;
    font-family: 'Poppins', sans-serif;
}
.YE-title-answer{
    color: rgba(0, 0, 0, 0.644);
    font-size: 24px;
    margin: 8px;
    font-family: 'Poppins', sans-serif;
}
.sample_img4{
    margin: 10px;
    padding: 0;
    border-radius: 72% 28% 42% 58% / 47% 80% 20% 53% ;
    width: 100px;
    border: 8px solid #b3a398dc;
    flex: 1 0 130px;
    order: 1;
}
/*Flow Game*/
.Flow_Game{
    display: flex;
    flex-wrap: wrap;  
    
}
.Flow_Game-txt{
    
    margin: 12px;
    padding: 8px;
    position: relative;
    width: 40%;
    height: 70%;
    overflow: auto;  
    order: 1;
}
.FG-title-question{
    font-size: 85px;
    padding: 4px;
    font-family: Anton, sans-serif;
}
.FG-benefit-question{
    font-size: 30px;
    padding: 4px;
    font-family: 'Poppins', sans-serif;
}
.FG-title-answer{
    color: rgba(0, 0, 0, 0.644);
    font-size: 24px;
    margin: 8px;
    font-family: 'Poppins', sans-serif;
}
.sample_img5{
    margin: 10px;
    padding: 0;
    border-radius: 72% 28% 42% 58% / 47% 80% 20% 53% ;
    width: 100px;
    border: 8px solid #b3a398dc;
    flex: 1 0 130px;
    order: 2;
}
/*Flow Game*/
.Mood_Tracker{
    display: flex;
    flex-wrap: wrap;  
    
}
.Mood_Tracker-txt{
    
    margin: 12px;
    padding: 8px;
    position: relative;
    width: 40%;
    height: 70%;
    overflow: auto;  
    order: 2;
}
.MT-title-question{
    font-size: 85px;
    padding: 4px;
    font-family: Anton, sans-serif;
}
.MT-benefit-question{
    font-size: 30px;
    padding: 4px;
    font-family: 'Poppins', sans-serif;
}
.MT-title-answer{
    color: rgba(0, 0, 0, 0.644);
    font-size: 24px;
    margin: 8px;
    font-family: 'Poppins', sans-serif;
}
.sample_img6{
    margin: 10px;
    padding: 0;
    border-radius: 72% 28% 42% 58% / 47% 80% 20% 53% ;
    width: 100px;
    border: 8px solid #b3a398dc;
    flex: 1 0 130px;
    order: 1;
}

.closeIn_Dev{
    cursor: pointer;
}
/*The lock logo for the features disabled on the index/guest user
*
*
*
*
*/
.fa fa-lock{
    color: #000;
    background-color: #000;
}
/*For the flipping card each features for the buttons*/
:root {
    --primary: #6BBD99;
    --secondary: #46A094;
    --dark: #212121;
    --light: #F3F3F3;
  }
  
  @import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
  
  .card__inner,
  .card .front,
  .card .back {
    width: 100%;
    height: 100%;
  }
  
  .card__inner {
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: absolute;
  }
  
  .card .front,
  .card .back {
    position: absolute;
    backface-visibility: hidden;
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .card:hover .inner,
  .card .back,
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .card {
    height: 600px;
    flex: 1 0 15px;
    order: 1;
    perspective: 1000px;
  }
  
  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: fixed;
  }

  .card:hover .inner{
    transform: rotateY(180deg);
  }
  
  .card .front, .card .back{
    width: 100%;
    height: 100%;
    position: fixed;
    backface-visibility: hidden;
  }
  
  .card .back{
    transform: rotateY(180deg);
  }
  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: fixed;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .card__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
  .card__face--front h2 {
    font-family: "Alfa Slab One", cursive;
    text-align: center;
    color: #000000;
    font-size: 32px;
  }
  
  .card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
  }
  
  .card__content {
    width: 100%;
    height: 100%;
  }
  
  .card__header {
    position: relative;
    padding: 50px 40px 30px;
  }
  
  .card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
  }
  
  .flow {
    display: block;
    width: 228px;
    height: 228px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
  }
  
  .card__header h2 {
    color: #13201f;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    font-family: "Alfa Slab One", cursive;
  }
  
  .card__body {
    padding: 30px;
  }
  
  .card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  .card__body p{
    color: var(--dark);
    font-size: 15px;
    line-height: 1.4;
  }
      .Flow_GameBtn{
        cursor: pointer;
        font-size: 100px;
        border: none;
        outline: none;
        padding: 5px 5px;
        border-radius: 10px;
        color: #AECFA4;
        background-color:#13201f;
        position: absolute;
        top: 70%;
        left: 37%;
    }
    .Flow_GameBtn:hover{
    color: #13201f;
    background-color:#AECFA4;
    color: rgb(0, 0, 0);
    letter-spacing: 0.15cm;
  }
  /**
**/
:root {
    --primColor: #dcdcdc;
    --secoColor: #555555;
    --cornerRad: 4px;
  }
  details {
    margin: 15px;
  }
  summary {
    position: absolute;
    top: 20px;
    writing-mode: vertical-lr;
    text-align: center;
    padding: left 8px;
    width: 38px;
    height: 38px;
    background-color: var(--primColor);
    border: 1px solid var(--secoColor);
    border-radius: var(--cornerRad);
    color: var(--secoColor);
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform 200ms ease-in-out 0s;
    
  }
  summary::before,
  summary::after {
    position: static;
    top: 0;
    left: 0;
  }
  summary::before {
    content: "";
  }
  summary::after {
    content: "III";
    position:sticky;
    letter-spacing: 1px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  summary:hover {
    transform: scale(1.1);
  }
  summary::marker {
    font-size: 0;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  details[open] .menu {
    animation-name: menuAnim;
  }
  details[open] summary::before {
    content: "X";
  }
  details[open] summary::after {
    content: "";
  }
  .menu {
    position: absolute;
    top: 60px;
    height: 0;
    width: fit-content;
    border-radius: var(--cornerRad);
    background-color: var(--primColor);
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    animation: closeMenu 300ms ease-in-out forwards;
  }
  .menu a {
    padding: 12px 24px;
    margin: 0 16px;
    color: var(--secoColor);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    transition: filter 200ms linear 0s;
  }
  .menu a:nth-of-type(1) {
    padding-top: 24px;
  }
  .menu a:nth-last-of-type(1) {
    border-bottom: none;
  }
  .menu a:hover {
    filter: brightness(200%);
  }
  details::before {
    color: var(--secoColor);
    position: absolute;
    margin-left: 80px;
    padding: 10px 10px;
    opacity: 0.4;
  }
  details[open]::before {
    animation: fadeMe 300ms linear forwards;
  }
  @keyframes menuAnim {
    0% {
      height: 0;
    }
    100% {
      height: 368px; /*Change this depnds to the content that you want*/
    }
  }
  @keyframes fadeMe {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 0;
    }
  }
  
}

#notification {
    display: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
  }